@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* -- Animação de digitação -- */
/* -- Font: https://codepen.io/denic/pen/GRoOxbM -- */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

header {
  z-index: 1;
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: #171a21;
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}

header .logo a {
  font-weight: 700;
  font-size: 1.5625rem;
}

header .logo a span {
  font-weight: 500;
  color: darkblue;
}

header .side-menu {
  display: none;
}

header .menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

header .menu a:hover {
  color: aqua;
}

header .menu li:last-child {
  background-color: #181a1b;
  border-radius: 5%;
  border: 1px solid darkblue;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  text-shadow: 0px 1px 0px darkblue;
  cursor: pointer;
}

header .menu li:last-child:hover {
  background-color: darkblue;
}

header .menu li:last-child:active {
  background-color: darkblue;
  position: relative;
  top: 1px;
}

header .menu li:last-child a:hover {
  color: #fff;
}

footer {
  height: 15rem;
  width: 100%;
  background-color: #171a21;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

footer .alunos {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .alunos .aluno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .alunos .aluno .linkedin {
  height: 16px;
  width: 16px;
  background-image: url("../../img/linkedinLogo.png");
}

footer .alunos .aluno .github {
  height: 16px;
  width: 16px;
  background-image: url("../../img/githubLogo.png");
}

@media (max-width: 800px) {
  /* Tablet */
  header {
    /* Menu Icon */
  }
  header nav {
    top: 5rem;
    width: 95%;
    height: 100%;
    position: fixed;
    background-color: #171a21;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
  }
  header nav .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .menu a {
    display: block;
    padding: 30px;
    color: white;
  }
  header nav .menu a:hover {
    background-color: gray;
  }
  header .hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
  }
  header .hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }
  header .hamb-line::before, header .hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
  }
  header .hamb-line::before {
    top: 5px;
  }
  header .hamb-line::after {
    top: -5px;
  }
  header .side-menu:checked ~ nav {
    max-height: 50%;
  }
  header .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  header .side-menu:checked ~ .hamb .hamb-line::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  header .side-menu:checked ~ .hamb .hamb-line::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  footer h2 {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  /* Mobile */
  .alunos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

body .banner {
  height: 35rem;
  background: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages.pushsquare.com%2F99b1fc08bc4a4%2Fcall-of-duty-modern-warfare-2019-ps4.original.jpg&f=1&nofb=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body .principal {
  width: 100%;
  margin-bottom: 15rem;
  margin-top: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .principal .cover {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .principal .cover .img {
  height: 27rem;
  width: 20rem;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.miraheze.org%2Fawesomegameswiki%2F4%2F47%2F602324-call-of-duty-modern-warfare-xbox-one-front-cover.jpg&f=1&nofb=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body .principal .conteudo {
  width: 60%;
  height: 27rem;
  padding-right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

body .principal .conteudo h1 {
  color: #fff;
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 700;
}

body .principal .conteudo h2 {
  color: darkblue;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 70px;
}

@media (max-width: 800px) {
  .principal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .principal .conteudo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=game.css.map */