@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './Sass/variables';
@import './Sass/functions';
@import './Sass/header-footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  color: $textcolorLight;

}

header{
  z-index: 2;
}

body{
  background-color: $bodyColor;
  .banner{
    height: 35rem;
    background: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages.pushsquare.com%2F99b1fc08bc4a4%2Fcall-of-duty-modern-warfare-2019-ps4.original.jpg&f=1&nofb=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  .principal{
    width: 100%;
    margin-bottom: 10rem;
    margin-top: -11rem;
    padding: 0 10%;
    @include mixinFex( center, center );
    gap: 12%;
    
    .cover{
      z-index: 1;
      @include mixinFex( center, center );
      flex-direction: column;

      .img{
        height: 27rem;
        width: 20rem;
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.miraheze.org%2Fawesomegameswiki%2F4%2F47%2F602324-call-of-duty-modern-warfare-xbox-one-front-cover.jpg&f=1&nofb=1');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .conteudo{
      z-index: 1;
      height: 27rem;
      @include mixinFex( flex-start, flex-start );
      flex-direction: column;
      gap: 2px;
      padding-right: 5%;

      h1{
        margin-top: 20px;
        font-size: 3rem;
        font-weight: 700;

      }
      h2{
        color: $decorationColor;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 70px;
      }
    }
  }
}

@media (max-width: 800px) {
  .principal{
    flex-direction: column;

    .conteudo{
      padding: 0;

      h1,h2{
        align-self: center;
      }
      h1{
        font-size: 2.5rem;
      }
    }
  }
}