@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './Sass/variables';
@import './Sass/functions';
@import './Sass/header-footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}
body{
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 139, 0.678),
    $bodyColor
    ),
    url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FA3XGd7RZkNFqU%2Fgiphy.gif') no-repeat top;
    background-size: cover;
    color: $textcolorLight;
  main{
    height: 80vh;
    width: 100%;
    @include mixinFex( center, center );

    form{
      height: 20rem;
      width: 20rem;
      gap: 10px;
      background-color: $secondaryColor;
      @include mixinFex( center, center );
      flex-direction: column;

      .btn{
        @include mixinBtn (0.8rem 4.7rem);

      }
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
}