@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* -- Animação de digitação -- */
/* -- Font: https://codepen.io/denic/pen/GRoOxbM -- */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
header {
  z-index: 1;
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: #171a21;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}
header .logo a {
  font-weight: 700;
  font-size: 1.5625rem;
}
header .logo a span {

}
header .side-menu {
  display: none;
}
header .menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
{
  background-color: #181a1b;
  border-radius: 5%;
  border: 1px solid darkblue;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  text-shadow: 0px 1px 0px darkblue;
}


  
header .menu li:last-child:hover {
  background-color: darkblue;
}
header .menu li:last-child:active {
  background-color: darkblue;
  position: relative;
  top: 1px;
}

header .menu li:last-child a:hover {
  color: #fff;
}

footer {
  height: 15rem;
  width: 100%;
  background-color: #141414;
<<<<
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
footer .alunos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .alunos .aluno {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .alunos .aluno .social svg {
  margin: 10px;
  height: 2rem;
  fill: #fff;
}

@media (max-width: 800px) {
  /* Tablet */
  header {
    /* Menu Icon */
  }
  header nav {
    top: 5rem;
    width: 95%;
    height: 100%;
    position: fixed;
    background-color: #171a21;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  header nav .menu {
    flex-direction: column;
  }
  header nav .menu a {
    display: block;
    padding: 30px;
    color: white;
  }
  header nav .menu a:hover {
    background-color: black;
  }
  header .hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
  }
  header .hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }
  header .hamb-line::before, header .hamb-line::after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  header .hamb-line::before {
    top: 5px;
  }
  header .hamb-line::after {
    top: -5px;
  }
  header .side-menu:checked ~ nav {
    max-height: 50%;
  }
  header .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  header .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  header .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  footer h2 {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  /* Mobile */
  .alunos {
    flex-direction: column;
    gap: 20px;
  }

  b
}

.card .img {
  width: 100%;
  height: 65%;background-image: url("https://media.istockphoto.com/photos/doctor-writing-a-medical-prescription-picture-id1319031310?b=1&k=20&m=1319031310&s=170667a&w=0&h=crYyw4Jk5naigYVJEALChMZoAeld_kjaoIpNIaAnCZQ=");
}

.card2 .img {
  background-image: url("https://cdn.pixabay.com/photo/2021/09/07/07/11/game-console-6603120__340.jpg");
}

.card3 .img {
  background-image: url("https://cdn.pixabay.com/photo/2015/08/08/19/55/confused-880735__340.jpg")
}

.card4 .img {
  background-image: url("https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265__340.jpg");
}

.card5 .img {
  background-image: url("https://cdn.pixabay.com/photo/2021/10/02/09/18/airplane-6674689__340.jpg");
}

.card6 .img {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/28/bed-1839564__340.jpg");
>>>>>>> a5199fd57f05374a082cb713a8a1898e7d59c78d
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  background-size: cover;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-color: #202731;
  color: #fff;
}
body .banner {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 139, 0.678), #202731), url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FA3XGd7RZkNFqU%2Fgiphy.gif");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5V4xAs2FvEXwKfW9XqmMMFrTVpPkzeO_joQMzQy2UHQ&s");
}
body .banner h1 {
  width: 30ch;
  -webkit-animation: typing 1s steps(7), blink 0.5s step-end infinite alternate;
          animation: typing 1s steps(7), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-weight: 700;
  font-size: 3rem;
}
body .banner .btn {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: aqua;
  border: 1px solid aqua;
  padding: 0.5rem 2rem;
  border-radius: 5%;
}
body #cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-left: 6%;
  padding-right: 6%;
  flex-wrap: wrap;
  gap: 1rem;
  
}
body #cards .card {
  width: 25.5rem;
  height: 32rem;
  border-radius: 3%;
  background-color: #181a1b;
}
body #cards .card .card__conteudo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
body #cards .card .card__conteudo .btn {
  justify-self: end;
  text-decoration: none;
  font-weight: 700;
  background-color: #181a1b;
  border-radius: 5%;
  border: 1px solid darkblue;
  color: #ffffff;
  padding: 0.8rem 5rem;
  text-shadow: 0px 1px 0px darkblue;
  cursor: pointer;
}
body #cards .card .card__conteudo .btn:hover {
  background-color: darkblue;
}
body #cards .card .card__conteudo .btn:active {
  background-color: darkblue;
  position: relative;
  top: 1px;
}/*# sourceMappingURL=style.css.map */


footer {
  
  -webkit-animation: typing 1s steps(7), blink 0.5s step-end infinite alternate;
          animation: typing 1s steps(7), blink 0.5s step-end infinite alternate;
          color: #ffffff;
          padding: 0.8rem 5rem;
          text-shadow: 0px 1px 0px darkblue;
          cursor: pointer;
        }
          
  