@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './Sass/variables';
@import './Sass/functions';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header {
    z-index: 1;
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: $primaryColor;
    padding: 0 1.25rem;
    @include mixinFex( space-between, center );
    
    a {
        text-decoration: none;
        color: $textColor;
        font-weight: 700;
        font-size: 1rem;
    }

    .logo a {
        font-weight: 700;
        font-size: 1.5625rem;
    }
    
    .menu {
        list-style-type: none;
        @include mixinFex( space-between, center );
        gap: 20px;

        li:last-child {
           background-color: $secondaryColor;
           border-radius: 28px;
           border: 1px solid $decorationColor;
           color: #ffffff;
           padding: 0.8rem 1.5rem;
           text-shadow: 0px 1px 0px $decorationColor;
           cursor: pointer;
    
           &:last-child:hover {
               background-color: $decorationColor;
           }
    
        }
    }
}

.banner {
    height: 100vh;
    background-color: $secondaryColor;
    background-attachment: fixed;
    @include mixinFex( center, center );
    flex-direction: column;
}

.cards {
    height: 500px;
}
