@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './Sass/variables';
@import './Sass/functions';
@import './Sass/header-footer';
@import './Sass/img';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}
body{
    background-color: $bodyColor;
    color: $textcolorLight;
    
    .banner {
        height: 50vh;
        background: linear-gradient(
            to bottom),
            rgba(0, 0, 139, 0.678);
           
            background-color: red;
        
        url('https://t3.ftcdn.net/jpg/04/94/56/98/240_F_494569846_wCkgLyihjXD9nWn6ZEFLY1sbTgdzYlty.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        @include mixinFex( center, center );
        flex-direction: column;
        h1{
            @include mixinTyping ( 7ch, 7, 1s );
            font-weight: 100;
            font-size: 5rem;
        }
        .btn{
            margin-top: 2rem;
            text-decoration: none;
            font-weight: 700;
            font-size: 2rem;
            color: $secondaryColorLight;
            border: 1px solid $secondaryColorLight;
            padding: 0.5rem 2rem;
            border-radius: 5%;

        }
    
    
    #cards {
        @include mixinFex( center, center );
        margin-top: 10rem;
        margin-bottom: 10rem;
        padding-left: 6%;
        padding-right: 6%;
        flex-wrap: wrap;
        gap: 1rem;
        
        .card{
            width: 25.5rem;
            height: 32rem;
            border-radius: 3%;
            background-color: $secondaryColor;
            
            .card__conteudo {
                padding: 20px;
                @include mixinFex ( center, center );
                flex-direction: column;
                gap: 10px;
                .btn{
                    justify-self: end;
                    text-decoration: none;
                    font-weight: 700;
                    @include mixinBtn (0.8rem 5rem);
                }
            }
        }
    }



