.card1{
  .img {
    background-image: url('https://cdn.akamai.steamstatic.com/steam/apps/268910/ss_483fb089be0093beeef03525276803a9ca4f66a1.600x338.jpg');
  }  
}
.card2{
  .img {
    background-image: url('#');
  }  
}
.card3{
  .img {
    background-image: url('#');
  }  
}
.card4{
  .img {
    background-image: url('#');
  }  
}
.card5{
  .img {
    background-image: url('#');
  }  
}
.card6{
  .img {
    background-image: url('#');
  }
}


.card{
  .img {
      width: 100%;
      height: 65%;
      border-top-left-radius: 3%;
      border-top-right-radius: 3%;
      background-size: cover;
  }
}